h1, p, body, html {
margin:0;
padding:0;
}

body {
color:lightgrey;
display: block;
}

#container {
width:100%;
}
#header {
background-color:#1e5e73;
opacity:0.85;
}
#header h1 {
margin-bottom: 0px;
text-align:center;
}
#content {
float:left;
width:100%;
background-color:#131417;
}

#footer {
clear:both; /*No floating elements are allowed on left or right*/
background-color:#1e5e73;
text-align:center;
font-weight: bold;
}
.errorMessage {
color: red;
}

/* PERSONNALISATIONs DIVERS */

/* CENTRER CONTENU DIV */

.presentation
{
	margin-right:10%;
	margin-left:10%;
	padding-left:1%;
	padding-right:1%;
}

/* IMAGE FILM*/
.imgMovie
{
	height:200px;
	width:auto;
	margin-left:5px;
	margin-bottom:5px;
}

/*  */
.titlePresentationMovie
{
	text-align:center;
	font-size:1.875em;
	color: lightgrey;
	font-weight:bold;
}

.presentationContext
{
	text-align:center;
	font-size:1.075em;
}

.positionButton
{
	margin-left:10px;
	margin-right:10px;
	width:150px;
}

.prefixMovies
{
	text-align:center;
	letter-spacing:1em;
}
.movieTableCol
{
	padding-left:20px;
	padding-right:20px;
	text-align:center;
}

.inputForm
{
	color:#004080;
	margin-right: 12px;
}